.mainPage {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;

    .drinks {
        display: flex;
        flex-direction: column;
        font-size: 3em;
    }
}